.scroll-helper {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 180px;
  right: 16px;
  @media screen and (max-width: 700px) {
    display: none;
  }
}
